# For Loops

Loops allow a computer to repeat a process over and over again until it is done. 

In Python, there are 2 main types of loops:
- `for` loops
- `while` loops.

In this notebook, we will look at the `for` loop.

When a computer language encounters a `for` loop, it will execute all of the processes within that loop for a *pre-determined* number of times.

For instance, run the cell below to create a list of times.

In [ ]:
times = [64,62,47,9,8,21,11,73]

Now suppose we want to print each number in the `times` list on a separate line. 

To do so, we can use the following `for` loop in which the `number` variable refers to each individual number within the `times` list.

Notice at the end of the `for` line, there is a colon. <br>
Also remember, in Python, the next line after a colon is *always* indented.

In [ ]:
for number in times:
    print(number)

### Example 1.

(a) The following is the number of cups of coffee consumed by a busy person. <br>
In the cell below, create the following list and name it `coffee`.

<p style="text-align:center;">2, 3, 1, 0, 4, 2, 3</p>

(b) Use a `for` loop to print each number of cups of coffee consumed on its own line.

## For Loops and Math

`for` loops are wonderful for performing tedious calculations that we would not even want to type out on a calculator. 

`for` instance (pun intended, as always) suppose we need to find the total of the list of observation values in the cell below.

In [ ]:
obs = [3, 1, 7, 1, 5, 6, 8, 5, 1, 2, 8, 5, 3, 8, 7, 6, 5, 9, 6, 1, 6, 4, 9, 8, 5, 1, 9, 2, 5, 9]

Even with a calculator, this would still take some time. 

`for`tunately (OK, *that's* the last one), we can make quick work of this as follows:

1. Since we are adding, create a variable (`total`) and set it equal to 0:

In [ ]:
total = 0

2. Loop through each value in the `obs` list and add it to the total. This will create a running total as it loops through. **Don't forget the colon and indent the next line.**

In [ ]:
for value in obs:
    total = total + value  # we could have also used total += value

Now that the `for` loop is done going through each observation value, the value of the `total` variable should be the sum of all of the observation values.

Run the cell below to display the current value of the `total` variable. <br>
(*Note:* Adding the observation values with a calculator would result in a sum of 155).

In [ ]:
total

### Example 2.

Find the sum of the following.

In [ ]:
example2 = [29, 23, 28, 23, 29, 30, 
            28, 26, 28, 23, 29, 27, 
            26, 27, 26, 27, 23, 23, 
            27, 27, 26, 25, 20, 23, 
            28, 21, 23, 25, 28, 24, 
            27, 20, 27, 27, 26, 24, 
            29, 28, 23, 21]

(a) Initialize the total in the cell below.

(b) Write your `for` loop in the cell below. Don't forget the colon and indentation of the 2nd line.

Display the sum of the values in the `example2` list in the cell below.

### Example 3.

Given $f(x) = x^2 - 6x + 2$, find the sum of the values for $f(1)$, $f(2)$, $f(3)$, $f(4)$, $f(5)$, $f(6)$, and $f(7)$.

First, define the function. Remember to use `**` for exponentiation.

In [ ]:
def f(x):
    return x**2 - 6*x + 2

Next, create the list of input values: the integers from 1 to 7.

In [ ]:
inputs = [1,2,3,4,5,6,7]

Create your starting total.

Create a `for` loop to evaluate $f(x)$ at each value in the `inputs` list.

Display the total value in the cell below.

*Note:* The above example can be written using sigma (summation) notation:

$$\sum_{x=1}^{7} \left(x^2 - 6x + 2\right)$$

The following site allows you to visualize the code you write. This is especially helpful when working with loops.

[Python Tutor](https://pythontutor.com/visualize.html#mode=edit)

## Exercise 1

In [ ]:
exercise1 = [5,7,3,2,8]

Run the cell above. Then, in the cell below, use a `for` loop to print each number in the `exercise1` list.

For help, see Example 1.

## Exercise 2

Use a `for` loop to find the product of the items in the `exercise1` list. 

*Hint:* You set your inital `total` variable equal to 0 when adding. What number should you set your initial `product` variable equal to when multiplying?

For help, see Example 2.

(a) Initialize your `product` variable in the cell below.

(b) Write your `for` loop in the cell below. Don't forget the colon and indentation of the 2nd line.

(c) Display the product of the values in the `exercise1` list in the cell below.

## Exercise 3

Given $f(x) = x^3 + 2$, find the sum of the values for $f(-3)$, $f(-2)$, $f(-1)$, $f(0)$, and $f(1)$.

For help, see Example 3.

(a) First, define $f(x)$ in the cell below. Remember to use `**` for exponentiation.

(b) Next, create a list for your input values.

(c) Create your starting total.

(d) Create a `for` loop to evaluate $f(x)$ at each value in your list of inputs.

(e) Display the total value in the cell below.

## Bonus Exercise:

Use lists, functions, and a `for` loop to evaluate the following:

$$\sum_{x=-3}^{5} \left(x^4 - 3x^3 + 2x\right)$$