# Lists

In Python, lists can contain numbers, character strings, and other objects. 

We name a list with the same conditions as variable names:

1. Name cannot contain a space
2. Name must begin with a letter or underscore

Suppose we have a list of some temperatures for the month of November:

<p style="text-align:center";>37, 33, 29, 40, 47, 41, 38, 30</p>

In Python, we can store the list as follows using square brackets around the list items.

In [1]:
temp = [37,33,29,40,47,41,38,30]

We can access individual items in the list using the following notation:

`name[index]`

**Note:** The first index of a list in Python (like many other languages) is 0. This means you actually start counting indices at 0, not 1.

So we can access the first element of the `temp` list, 37, as follows:

In [2]:
temp[0]

37

And we can access the 7th element of the `temp` list, 38, as follows:

In [3]:
temp[6]

38

### Example 1.

Access each of the following items in the `temp` list.

(a) 40

In [4]:
temp[3]

40

(b) 41

In [5]:
temp[5]

41

Lists can also be indexed from the end of the list rather than the beginning. This is called *negative indexing*.

For instance, run the cell below.

In [6]:
times = [64,62,47,9,8,21,11,73]

If we want to access the last number in the `times` list, we can do so like this:

In [7]:
times[-1]

73

And we can access the 2nd-to-last number, 11, like so:

In [8]:
times[-2]

11

### Example 2

In the cell below, type the code to access the 47 in the `times` list **using negative indexing**.

In [9]:
times[-6]

47

## Adding Items to a List

Python can attach one list to another (called *concatenating*) relatively easily.

Suppose we want to add a new time, 80, to the end of the `times` list. 

One way to do this is to use the `.append()` method.

In [10]:
times.append(80)

Now we can display our new `times` list by typing in the list name and running the cell.

In [11]:
times

[64, 62, 47, 9, 8, 21, 11, 73, 80]

### Example 3

Add the value of 40 to your `times` list.

In [12]:
times.append(40)

Print your `times` list to verify the values are
\[64, 62, 47, 9, 8, 21, 11, 73, 80, 40\]

In [13]:
print(times)

[64, 62, 47, 9, 8, 21, 11, 73, 80, 40]

The `len(list_name)` function will tell us the length of our list. 

In the cell below, use the `len` function to determine the length of the `times` list.

In [14]:
len(times)

10

## Exercises

1. In the cell below, create a list with the following values and name the list `x` 

<p style="text-align:center;"> \[8,6,7,5,3,0,9\] </p>

In [15]:
x = [8,6,7,5,3,0,9]

2. Access the value 6 in the `x` list.

In [16]:
x[1]

6

3. **Use negative indexing** to access the value 3 in the list.

In [17]:
x[-3]

3

4. Add a new value, 1, to the list.

In [18]:
x.append(1)

5. Print your new `x` list.

In [19]:
print(x)

[8, 6, 7, 5, 3, 0, 9, 1]

6. Use the `len` function to determine the new length of the `x` list.

In [20]:
len(x)

8